$primary: #d30e15;
$gray: #949494;
.productList {
  direction: rtl;
  .section1 {
    position: relative;
    h1 {
      //styleName: 24/r;
      font-family: IRANYekan;
      font-size: 24px;
      font-weight: 400;
      line-height: 41.45px;
      text-align: right;
      position: absolute;
      color: white;
      right: 20px;
      bottom: 30px;
    }
    .imgS {
      height: 100vh;
      img {
        width: 100%;
        height: 100vh;
      }
    }
  }
  .section2 {
    padding: 0 20px;
    nav {
      margin: 33px 0;
      ul {
        column-gap: 5px;
        display: flex;
        a,
        h2,
        li {
          font-family: IRANYekan;
          font-size: 12px;
          font-weight: 400;
          line-height: 20.73px;
          text-align: center;
          color: $primary;
          text-decoration: none;
        }
      }
    }
    .productContainer {
      .proBox {
        margin-bottom: 40px;
        border: 1px solid $gray;
        .imgS {
          img {
            width: 100%;
          }
        }
        a {
          text-decoration: none;
        }
        .title {
          display: flex;
          padding: 20px 8px;
          column-gap: 6px;
          align-items: center;
          p {
            font-family: IRANYekan;
            font-size: 16px;
            font-weight: 400;
            line-height: 27.64px;
            text-align: right;
            color: black;
            text-decoration: none;
          }
        }
      }
    }
  }
}

.article {
  direction: rtl;
  background-color: black;
  .para {
    p {
      font-family: IRANYekan;
      font-size: 14px;
      font-weight: 300;
      line-height: 18px;
      text-align: justify;
      color: white;
    }
  }
  article {
    h2,
    h3,
    h4,
    h5,
    h6 {
      font-size: 14px;
      margin-bottom: 10px;
    }
    h1,
    p,
    h2,
    h3,
    h4,
    h5,
    h6 {
      color: white;
    }
    img {
      width: 100%;
    }
  }
  .section1 {
    max-height: 100vh;
    overflow: hidden;
    position: relative;
    img {
      width: 100%;
      max-height: 100vh;
    }
    .overInfo {
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: space-between;
      bottom: 20px;
      right: 20px;
      left: 20px;
      .date {
        span {
          font-family: Josefin Sans;
          font-size: 16px;
          font-weight: 300;
          line-height: 16px;
          text-align: right;
          color: white;
        }
      }
      .social {
        ul {
          display: flex;
          column-gap: 30px;
        }
      }
    }
  }
  .section2,
  .section4,
  .section6 {
    padding: 13px 20px 0 20px;
    h1 {
      font-family: IRANYekan;
      font-size: 16px;
      font-weight: 400;
      line-height: 27.64px;
      text-align: right;
      margin-bottom: 12px;
    }
  }
  .section3,
  .section5 {
    margin: 20px 0;
  }
  .section7 {
    padding-bottom: 14px;
    img {
      width: 100%;
    }
  }
  .section8 {
    background-color: white;
    .titl {
      p {
        padding: 30px 20px 20px;
        color: black;
        font-family: IRANYekan;
        font-size: 16px;
        font-weight: 400;
        line-height: 27.64px;
        text-align: right;
      }
    }
    .relProSlider{
        position: relative;
        .nextBtn{
            position: absolute;
            top: 39%;
            right: 0;
            z-index: 10;
        }
        .prevBtn{
            position: absolute;
            top: 39%;
            left: 0;
            z-index: 10;
        }
    }
    .proBox {
      margin-bottom: 40px;
      border: 1px solid $gray;
      .imgS {
        img {
          width: 100%;
        }
      }
      a {
        text-decoration: none;
      }
      .title {
        display: flex;
        padding: 20px 8px;
        column-gap: 6px;
        align-items: center;
        p {
          font-family: IRANYekan;
          font-size: 16px;
          font-weight: 400;
          line-height: 27.64px;
          text-align: right;
          color: black;
          text-decoration: none;
        }
      }
    }
  }
}
