$primary: #d30e15;
$gray: #949494;
.productList {
  direction: rtl;
  .section1 {
    position: relative;
    h1 {
      //styleName: 24/r;
      font-family: IRANYekan;
      font-size: 24px;
      font-weight: 400;
      line-height: 41.45px;
      text-align: right;
      position: absolute;
      color: white;
      right: 20px;
      bottom: 30px;
    }
    .imgS {
      height: 100vh;
      img {
        width: 100%;
        height: 100vh;
      }
    }
  }
  .section2 {
    padding: 0 20px;
    nav {
      margin: 33px 0;
      ul {
        column-gap: 5px;
        display: flex;
        a,
        h2,
        li {
          font-family: IRANYekan;
          font-size: 12px;
          font-weight: 400;
          line-height: 20.73px;
          text-align: center;
          color: $primary;
          text-decoration: none;
        }
      }
    }
    .productContainer {
      .proBox {
        margin-bottom: 40px;
        border: 1px solid $gray;
        .imgS {
          img {
            width: 100%;
          }
        }
        a {
          text-decoration: none;
        }
        .title {
          display: flex;
          padding: 20px 8px;
          column-gap: 6px;
          align-items: center;
          p {
            font-family: IRANYekan;
            font-size: 16px;
            font-weight: 400;
            line-height: 27.64px;
            text-align: right;
            color: black;
            text-decoration: none;
          }
        }
      }
    }
  }
}
