.productList {
  direction: rtl;
}
.productList .section1 {
  position: relative;
}
.productList .section1 h1 {
  font-family: IRANYekan;
  font-size: 24px;
  font-weight: 400;
  line-height: 41.45px;
  text-align: right;
  position: absolute;
  color: white;
  right: 20px;
  bottom: 30px;
}
.productList .section1 .imgS {
  height: 100vh;
}
.productList .section1 .imgS img {
  width: 100%;
  height: 100vh;
}
.productList .section2 {
  padding: 0 20px;
}
.productList .section2 nav {
  margin: 33px 0;
}
.productList .section2 nav ul {
  -moz-column-gap: 5px;
       column-gap: 5px;
  display: flex;
}
.productList .section2 nav ul a,
.productList .section2 nav ul h2,
.productList .section2 nav ul li {
  font-family: IRANYekan;
  font-size: 12px;
  font-weight: 400;
  line-height: 20.73px;
  text-align: center;
  color: #d30e15;
  text-decoration: none;
}
.productList .section2 .productContainer .proBox {
  margin-bottom: 40px;
  border: 1px solid #949494;
}
.productList .section2 .productContainer .proBox .imgS img {
  width: 100%;
}
.productList .section2 .productContainer .proBox a {
  text-decoration: none;
}
.productList .section2 .productContainer .proBox .title {
  display: flex;
  padding: 20px 8px;
  -moz-column-gap: 6px;
       column-gap: 6px;
  align-items: center;
}
.productList .section2 .productContainer .proBox .title p {
  font-family: IRANYekan;
  font-size: 16px;
  font-weight: 400;
  line-height: 27.64px;
  text-align: right;
  color: black;
  text-decoration: none;
}

.article {
  direction: rtl;
  background-color: black;
}
.article .para p {
  font-family: IRANYekan;
  font-size: 14px;
  font-weight: 300;
  line-height: 18px;
  text-align: justify;
  color: white;
}
.article article h2,
.article article h3,
.article article h4,
.article article h5,
.article article h6 {
  font-size: 14px;
  margin-bottom: 10px;
}
.article article h1,
.article article p,
.article article h2,
.article article h3,
.article article h4,
.article article h5,
.article article h6 {
  color: white;
}
.article article img {
  width: 100%;
}
.article .section1 {
  max-height: 100vh;
  overflow: hidden;
  position: relative;
}
.article .section1 img {
  width: 100%;
  max-height: 100vh;
}
.article .section1 .overInfo {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
  bottom: 20px;
  right: 20px;
  left: 20px;
}
.article .section1 .overInfo .date span {
  font-family: Josefin Sans;
  font-size: 16px;
  font-weight: 300;
  line-height: 16px;
  text-align: right;
  color: white;
}
.article .section1 .overInfo .social ul {
  display: flex;
  -moz-column-gap: 30px;
       column-gap: 30px;
}
.article .section2,
.article .section4,
.article .section6 {
  padding: 13px 20px 0 20px;
}
.article .section2 h1,
.article .section4 h1,
.article .section6 h1 {
  font-family: IRANYekan;
  font-size: 16px;
  font-weight: 400;
  line-height: 27.64px;
  text-align: right;
  margin-bottom: 12px;
}
.article .section3,
.article .section5 {
  margin: 20px 0;
}
.article .section7 {
  padding-bottom: 14px;
}
.article .section7 img {
  width: 100%;
}
.article .section8 {
  background-color: white;
}
.article .section8 .titl p {
  padding: 30px 20px 20px;
  color: black;
  font-family: IRANYekan;
  font-size: 16px;
  font-weight: 400;
  line-height: 27.64px;
  text-align: right;
}
.article .section8 .relProSlider {
  position: relative;
}
.article .section8 .relProSlider .nextBtn {
  position: absolute;
  top: 39%;
  right: 0;
  z-index: 10;
}
.article .section8 .relProSlider .prevBtn {
  position: absolute;
  top: 39%;
  left: 0;
  z-index: 10;
}
.article .section8 .proBox {
  margin-bottom: 40px;
  border: 1px solid #949494;
}
.article .section8 .proBox .imgS img {
  width: 100%;
}
.article .section8 .proBox a {
  text-decoration: none;
}
.article .section8 .proBox .title {
  display: flex;
  padding: 20px 8px;
  -moz-column-gap: 6px;
       column-gap: 6px;
  align-items: center;
}
.article .section8 .proBox .title p {
  font-family: IRANYekan;
  font-size: 16px;
  font-weight: 400;
  line-height: 27.64px;
  text-align: right;
  color: black;
  text-decoration: none;
}

.contact {
  direction: rtl;
}
.contact .contactContainer {
  padding: 130px 20px 40px;
}
.contact .section1 h1 {
  margin-bottom: 23px;
  padding-bottom: 5px;
  border-bottom: 1px solid #949494;
  font-family: IRANYekan;
  font-size: 18px;
  font-weight: 400;
  line-height: 31.09px;
  text-align: right;
}
.contact .section1 .contactDetail ul li {
  display: flex;
  -moz-column-gap: 5px;
       column-gap: 5px;
  margin-bottom: 31px;
}
.contact .section1 .contactDetail ul li p {
  font-family: IRANYekan;
  font-size: 14px;
  font-weight: 400;
  line-height: 24.18px;
  text-align: right;
  color: #d30e15;
}
.contact .section1 .contactDetail ul li a {
  font-family: IRANYekan;
  font-size: 14px;
  font-weight: 500;
  line-height: 24.18px;
  text-align: right;
  text-decoration: none;
  color: #d30e15;
}
.contact .section1 .contactDetail ul .mail {
  font-family: IRANYekan;
  font-size: 14px;
  font-weight: 400;
  line-height: 24.18px;
  text-align: right;
}
.contact .section2 .mapSection {
  margin-bottom: 25px;
}
.contact .section2 .mapSection .mapIn {
  width: 100%;
  height: 263px;
}
.contact .section2 .formSection h3 {
  font-family: IRANYekan;
  font-size: 18px;
  font-weight: 400;
  line-height: 31.09px;
  text-align: right;
  color: #05481f;
  margin-bottom: 20px;
}
.contact .section2 .formSection .para {
  margin-bottom: 40px;
}
.contact .section2 .formSection .para p {
  font-family: IRANYekan;
  font-size: 14px;
  font-weight: 400;
  line-height: 24.18px;
  text-align: right;
}
.contact .section2 .formSection form button {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #d30e15;
  font-family: IRANYekan;
  font-size: 14px;
  font-weight: 400;
  line-height: 24.18px;
  text-align: center;
}

.blog {
  direction: rtl;
}
.blog .blogContainer {
  padding: 163px 20px 0;
}
.blog .blogContainer .section1 {
  position: relative;
}
.blog .blogContainer .section1 .title {
  padding: 4px 0 25px 0;
  border: 1px solid black;
}
.blog .blogContainer .section1 .title h1 {
  font-family: IRANYekan;
  font-size: 18px;
  font-weight: 700;
  line-height: 31.09px;
  text-align: center;
}
.blog .blogContainer .section1 .searchContainer {
  position: absolute;
  bottom: -15px;
  left: 0;
  right: 0;
}
.blog .blogContainer .section1 .searchContainer form {
  margin: 0 auto;
  background-color: white;
  height: 30px;
  display: flex;
  width: -moz-fit-content;
  width: fit-content;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
}
.blog .blogContainer .section1 .searchContainer form button {
  background-color: transparent;
  border: none;
}
.blog .blogContainer .section1 .searchContainer form input {
  border: none;
  font-family: IRANYekan;
  font-size: 16px;
  font-weight: 400;
  line-height: 31.09px;
  text-align: right;
  height: 80%;
}
.blog .blogContainer .section2 {
  margin-top: 38px;
  margin-bottom: 30px;
}
.blog .blogContainer .section2 .filters ul {
  display: flex;
  align-items: center;
  justify-content: center;
  -moz-column-gap: 20px;
       column-gap: 20px;
}
.blog .blogContainer .section2 .filters ul li {
  opacity: 0.5;
}
.blog .blogContainer .section2 .filters ul li span {
  font-family: Josefin Sans;
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
  text-align: right;
  color: #272727;
}
.blog .blogContainer .section2 .filters ul .activeFilter {
  opacity: 1;
}
.blog .blogContainer .section3 .blogBox {
  margin-bottom: 41px;
  border: 1px solid #949494;
}
.blog .blogContainer .section3 .blogBox .imgS img {
  width: 100%;
}
.blog .blogContainer .section3 .blogBox .catName {
  font-family: IRANYekan;
  font-size: 12px;
  font-weight: 300;
  line-height: 18px;
  text-align: right;
  margin-bottom: 6px;
  color: rgba(0, 0, 0, 0.5019607843);
  padding: 0 10px;
}
.blog .blogContainer .section3 .blogBox a {
  text-decoration: none;
  color: black;
  margin-bottom: 2px;
}
.blog .blogContainer .section3 .blogBox a p {
  font-family: IRANYekan;
  font-size: 16px;
  font-weight: 400;
  line-height: 27.64px;
  text-align: right;
  padding: 0 10px;
}
.blog .blogContainer .section3 .blogBox .para {
  padding: 0 10px;
}
.blog .blogContainer .section3 .blogBox .para p {
  font-family: IRANYekan;
  font-size: 10px;
  font-weight: 300;
  line-height: 17.27px;
  text-align: right;
}
.blog .blogContainer .section3 .blogBox .link {
  padding: 10px;
  display: flex;
  justify-content: left;
}
.blog .blogContainer .section3 .blogBox .link a {
  border: 1px solid #d30e15;
  border-radius: 19px;
  display: flex;
  align-items: center;
  justify-content: center;
  -moz-column-gap: 8px;
       column-gap: 8px;
  width: 105px;
  height: 25px;
  font-family: IRANYekan;
  font-size: 10px;
  font-weight: 300;
  line-height: 17.27px;
  text-align: right;
}/*# sourceMappingURL=mobile-m-style.css.map */