html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: "iranyekanwebblackfanum";
  src: url("../_fonts/iranyekanwebblackfanum.eot");
  src: url("../_fonts/iranyekanwebblackfanum.eot?#iefix") format("embedded-opentype"), url("../_fonts/iranyekanwebblackfanum.woff") format("woff"), url("../_fonts/iranyekanwebblackfanum.woff2") format("woff2"), url("../_fonts/iranyekanwebblackfanum.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "IRANYekan";
  src: url("../_fonts/IRANYekanLight.eot");
  src: url("../_fonts/IRANYekanLight.eot?#iefix") format("embedded-opentype"), url("../_fonts/IRANYekanLight.woff") format("woff"), url("../_fonts/IRANYekanLight.woff2") format("woff2"), url("../_fonts/IRANYekanLight.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "IRANYekan";
  src: url("../_fonts/IRANYekanRegular.eot");
  src: url("../_fonts/IRANYekanRegular.eot?#iefix") format("embedded-opentype"), url("../_fonts/IRANYekanRegular.woff") format("woff"), url("../_fonts/IRANYekanRegular.woff2") format("woff2"), url("../_fonts/IRANYekanRegular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "IRANYekan";
  src: url("../_fonts/iranyekanwebmediumfanum.eot");
  src: url("../_fonts/iranyekanwebmediumfanum.eot?#iefix") format("embedded-opentype"), url("../_fonts/iranyekanwebmediumfanum.woff") format("woff"), url("../_fonts/iranyekanwebmediumfanum.woff2") format("woff2"), url("../_fonts/iranyekanwebmediumfanum.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "IRANYekan";
  src: url("../_fonts/IRANYekanExtraMedium.eot");
  src: url("../_fonts/IRANYekanExtraMedium.eot?#iefix") format("embedded-opentype"), url("../_fonts/IRANYekanExtraMedium.woff") format("woff"), url("../_fonts/IRANYekanExtraMedium.woff2") format("woff2"), url("../_fonts/IRANYekanExtraMedium.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "IRANYekan";
  src: url("../_fonts/IRANYekanBold.eot");
  src: url("../_fonts/IRANYekanBold.eot?#iefix") format("embedded-opentype"), url("../_fonts/IRANYekanBold.woff") format("woff"), url("../_fonts/IRANYekanBold.woff2") format("woff2"), url("../_fonts/IRANYekanBold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "IRANYekan";
  src: url("../_fonts/IRANYekanExtraBold.eot");
  src: url("../_fonts/IRANYekanExtraBold.eot?#iefix") format("embedded-opentype"), url("../_fonts/IRANYekanExtraBold.woff") format("woff"), url("../_fonts/IRANYekanExtraBold.woff2") format("woff2"), url("../_fonts/IRANYekanExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Josefin Sans";
  src: url("../_fonts/JosefinSans-Light.eot");
  src: local("../_fonts/Josefin Sans Light"), local("../_fonts/JosefinSans-Light"), url("../_fonts/JosefinSans-Light.eot?#iefix") format("embedded-opentype"), url("../_fonts/JosefinSans-Light.woff2") format("woff2"), url("../_fonts/JosefinSans-Light.woff") format("woff"), url("../_fonts/JosefinSans-Light.ttf") format("truetype");
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Josefin Sans";
  src: url("../_fonts/JosefinSans-Regular.eot");
  src: local("../_fonts/Josefin Sans Regular"), local("../_fonts/JosefinSans-Regular"), url("../_fonts/JosefinSans-Regular.eot?#iefix") format("embedded-opentype"), url("../_fonts/JosefinSans-Regular.woff2") format("woff2"), url("../_fonts/JosefinSans-Regular.woff") format("woff"), url("../_fonts/JosefinSans-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Josefin Sans";
  src: url("../_fonts/JosefinSans-SemiBoldItalic.eot");
  src: local("../_fonts/Josefin Sans SemiBold Italic"), local("../_fonts/JosefinSans-SemiBoldItalic"), url("../_fonts/JosefinSans-SemiBoldItalic.eot?#iefix") format("embedded-opentype"), url("../_fonts/JosefinSans-SemiBoldItalic.woff2") format("woff2"), url("../_fonts/JosefinSans-SemiBoldItalic.woff") format("woff"), url("../_fonts/JosefinSans-SemiBoldItalic.ttf") format("truetype");
  font-weight: 600;
  font-display: swap;
  font-style: italic;
}
@font-face {
  font-family: "Josefin Sans";
  src: url("../_fonts/JosefinSans-LightItalic.eot");
  src: local("../_fonts/Josefin Sans Light Italic"), local("../_fonts/JosefinSans-LightItalic"), url("../_fonts/JosefinSans-LightItalic.eot?#iefix") format("embedded-opentype"), url("../_fonts/JosefinSans-LightItalic.woff2") format("woff2"), url("../_fonts/JosefinSans-LightItalic.woff") format("woff"), url("../_fonts/JosefinSans-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-display: swap;
  font-style: italic;
}
@font-face {
  font-family: "Josefin Sans";
  src: url("../_fonts/JosefinSans-SemiBold.eot");
  src: local("../_fonts/Josefin Sans SemiBold"), local("../_fonts/JosefinSans-SemiBold"), url("../_fonts/JosefinSans-SemiBold.eot?#iefix") format("embedded-opentype"), url("../_fonts/JosefinSans-SemiBold.woff2") format("woff2"), url("../_fonts/JosefinSans-SemiBold.woff") format("woff"), url("../_fonts/JosefinSans-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Josefin Sans";
  src: url("../_fonts/JosefinSans-BoldItalic.eot");
  src: local("../_fonts/Josefin Sans Bold Italic"), local("../_fonts/JosefinSans-BoldItalic"), url("../_fonts/JosefinSans-BoldItalic.eot?#iefix") format("embedded-opentype"), url("../_fonts/JosefinSans-BoldItalic.woff2") format("woff2"), url("../_fonts/JosefinSans-BoldItalic.woff") format("woff"), url("../_fonts/JosefinSans-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-display: swap;
  font-style: italic;
}
@font-face {
  font-family: "Josefin Sans";
  src: url("../_fonts/JosefinSans-ThinItalic.eot");
  src: local("../_fonts/Josefin Sans Thin Italic"), local("../_fonts/JosefinSans-ThinItalic"), url("../_fonts/JosefinSans-ThinItalic.eot?#iefix") format("embedded-opentype"), url("../_fonts/JosefinSans-ThinItalic.woff2") format("woff2"), url("../_fonts/JosefinSans-ThinItalic.woff") format("woff"), url("../_fonts/JosefinSans-ThinItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Josefin Sans";
  src: url("../_fonts/JosefinSans-Thin.eot");
  src: local("../_fonts/Josefin Sans Thin"), local("../_fonts/JosefinSans-Thin"), url("../_fonts/JosefinSans-Thin.eot?#iefix") format("embedded-opentype"), url("../_fonts/JosefinSans-Thin.woff2") format("woff2"), url("../_fonts/JosefinSans-Thin.woff") format("woff"), url("../_fonts/JosefinSans-Thin.ttf") format("truetype");
  font-weight: 100;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Josefin Sans";
  src: url("../_fonts/JosefinSans-Bold.eot");
  src: local("../_fonts/Josefin Sans Bold"), local("../_fonts/JosefinSans-Bold"), url("../_fonts/JosefinSans-Bold.eot?#iefix") format("embedded-opentype"), url("../_fonts/JosefinSans-Bold.woff2") format("woff2"), url("../_fonts/JosefinSans-Bold.woff") format("woff"), url("../_fonts/JosefinSans-Bold.ttf") format("truetype");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Josefin Sans";
  src: url("../_fonts/JosefinSans-Italic.eot");
  src: local("../_fonts/Josefin Sans Italic"), local("../_fonts/JosefinSans-Italic"), url("../_fonts/JosefinSans-Italic.eot?#iefix") format("embedded-opentype"), url("../_fonts/JosefinSans-Italic.woff2") format("woff2"), url("../_fonts/JosefinSans-Italic.woff") format("woff"), url("../_fonts/JosefinSans-Italic.ttf") format("truetype");
  font-weight: 400;
  font-display: swap;
  font-style: italic;
}
@font-face {
  font-family: "Estedad";
  src: url("../_fonts/Estedad-Regular.woff2") format("woff2"), url("../_fonts/Estedad-Regular.woff") format("woff"), url("../_fonts/Estedad-Regular.ttf") format("truetype");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
.faNum {
  font-family: "iranyekanwebblackfanum" !important;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #F5F5F5;
}

::-webkit-scrollbar {
  width: 5px;
  background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #555;
}

* {
  font-family: "IRANYekan";
}

h1 {
  font-size: 28px;
  font-weight: 700;
}

h2 {
  font-size: 24px;
  font-weight: 600;
}

h3 {
  font-weight: 500;
  font-size: 18.72px;
}

h4 {
  font-weight: 400;
  font-size: 16px;
}

h5 {
  font-weight: 400;
  font-size: 14px;
}

h6 {
  font-weight: 300;
  font-size: 13px;
}/*# sourceMappingURL=mobile-main.css.map */